@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  /* กำหนดฟอนต์ Sarabun ทั่วเว็บ */
  * {
    font-family: 'Sarabun', sans-serif;
  }

  /* กำหนดฟอนต์ Montserrat สำหรับ h1, h2, h3 */
  h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
  }

  /* กำหนดพื้นหลังและสีข้อความ */
  body {
    @apply bg-gray-200 text-foreground;
  }
  @keyframes rotate1 {
    from {
      transform: rotateX(50deg) rotateZ(110deg);
    }
    to {
      transform: rotateX(50deg) rotateZ(470deg);
    }
  }

  @keyframes rotate2 {
    from {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
    }
    to {
      transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
    }
  }

  @keyframes rotate3 {
    from {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
    }
    to {
      transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
    }
  }

  @keyframes rotate4 {
    from {
      transform: rotateX(70deg) rotateZ(270deg);
    }
    to {
      transform: rotateX(70deg) rotateZ(630deg);
    }
  }

}



